{% extends "base.html" %}
{% block title %}Sales Order{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="col-md-4 visible-md-block visible-lg-block">
      <div class="col-md-8 col-md-offset-1">
        <h1>Actions</h1>
        <p><a class="btn btn-primary btn-block" href="{% url 'core:salesorder_add' %}">Add New Order</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8">
    <h1>Sales Orders</h1>
    <ul class="list-inline visible-sm-block visible-xs-block">
      <li><a class="btn btn-primary" href="{% url 'core:salesorder_add' %}">Add Order</a></li>
    </ul>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Order Code</th>
            <th>Customer</th>
            <th>Value</th>
            <th>Delivery Status</th>
            <th>Payment Status</th>
          </tr>
          </thead>
          <tbody>
          {% for s in salesorder %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'core:salesorder' s.pk %}">{{ s.order_code }}</a></td>
              <td>{{ s.customer.name }}</td>
              <td>{{ s.order_currency }} {{ s.order_value }}</td>
              <td>{{ s.order_status }}</td>
              <td>{{ s.payment_status }}</td>
            </tr>
          {% empty %}
            <tr class="text-center"><td colspan="5">Nothing Found</td></tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="clearfix"></div>
    {% if is_paginated %}
      <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{% url request.resolver_match.url_name page_obj.previous_page_number %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
        {% if page_obj.has_next %}
          <a href="{% url request.resolver_match.url_name page_obj.next_page_number %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">next</a>
        {% endif %}
      </span>
      </div>
    {% endif %}
  </div>
{% endblock %}