{% extends "base.html" %}
{% block title %}{{ supplier.name }}{% endblock %}
{% block content %}
  <div class="container-fluid">
  <div class="col-md-4">
      {#  Put supplier details here  #}
      <h1>{{ supplier.name }}</h1>
      <ul class="list-unstyled">
        <li>{{ supplier.email }}</li>
        <li>{{ supplier.contact_phone }}</li>
      </ul>
      <div class="col-md-8 col-md-offset-1">
        <p><a class="btn btn-default btn-block" href="{% url 'core:supplier_edit' supplier.pk %}">Edit</a></p>
        <p><a class="btn btn-primary btn-block disabled" href="{% url 'core:salesorder_add' %}">Add Order</a></p>
        <p><a class="btn btn-danger btn-block" href="{% url 'core:supplier_delete' supplier.pk %}">Delete</a></p>
      </div>
      <div class="clearfix"></div>
      <hr>
      {# Get some supplier stats like total no. of or #}
      <h3>Stats</h3>
      <ul class="list-unstyled">
        <li><strong>Total Orders</strong>: {{ supplier.total_orders }}</li>
        <li><strong>Total Paid</strong>: {{ supplier.currency }} {{ supplier.total_paid }}</li>
        <li><strong>Total Due</strong>: {{ supplier.currency }} {{ supplier.total_due }}</li>
      </ul>
    </div>
    <div class="col-md-8">
      {#  Put pending orders here  #}
      <div>
        <h2>Orders</h2>
        <table class="table table-hover"></table>
        <p class="text-center"><a class="btn btn-info">All Orders</a></p>
      </div>
      {#  Put pending payments here  #}
      <div>
        <h2>Payments</h2>
        <table class="table table-hover"></table>
        <p class="text-center"><a class="btn btn-info">All Payments</a></p>
      </div>
    </div>
  </div>
{% endblock %}