{% extends "base.html" %}
{% block title %}{{ supplier.name }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-md-3">
      {#  Put customer details here  #}
      <h1>{{ supplier.name }}</h1>
      <ul class="list-unstyled">
        <li>{{ supplier.email }}</li>
        <li>{{ supplier.contact_phone }}</li>
      </ul>
      <hr>
      {# Get some customer stats like total no. of or #}
      <h3>Stats</h3>
      <dl class="dl-horizontal">
        <dt>Total Orders</dt>
        <dd>{{ supplier.total_orders }}</dd>
        <dt>Total Paid</dt>
        <dd>{{ supplier.total_orders }}</dd>
      </dl>
    </div>
    <div class="col-md-9">
      {#  Put pending orders here  #}
      <div>
        <h2>Orders</h2>
        <table class="table table-hover"></table>
        <p class="text-center"><a class="btn btn-info">All Orders</a></p>
      </div>
      {#  Put pending payments here  #}
      <div>
        <h2>Payments</h2>
        <table class="table table-hover"></table>
        <p class="text-center"><a class="btn btn-info">All Payments</a></p>
      </div>
    </div>
  </div>
{% endblock %}