@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(../fonts/Roboto/Roboto-BoldItalic.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 110px;
}

footer {
    position: absolute;
    bottom: 0;
    border-top: 2px solid #333;
    padding: 10px 0;
    margin-top: -100px;
    height: 100px;
    background-color: #efefef;
    width: 100%;
}

#carousel {
    background-color: #333;
}

#carousel > div > div > img {
    max-height: 480px;
    width: auto;
    margin: 0 auto;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

div.inline {
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
}

div.inline .form-group {
    padding: 5px 0;
    clear: both;
}

.add-row {
    margin: 0 0 10px;
    float: right;
}

.delete-row::before, .add-row:after, {
    /*clear: both;*/
}